@import '../../../../assets/scss/variables';

.character-cont {
    position:relative;
    display: flex;
    min-height: 50vh;
    .img-cont{
        height: 50vh;
        position: absolute;
    }
    h1{
        z-index:1000;
        position:absolute;
        width:100%;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        background:  $secondary-alpha-color;
        color: $white;
        padding: 1em;
        }
}