/* Color sheme obtained from https://www.schemecolor.com/spider-man-far-from-home.php plus white and black */

$primary-color: #B4202E;
$primary-dark-color: #7E1F27;
$secondary-color: #2B6BBD;
$secondary-dark-color: #114C92;
$secondary-alpha-color: #2B6BBDAA;
$tertiary-color: #D3AF37;
$tertiary-dark-color: #B29700;
$white: #fafafa;
$white-alpha: #fafafa88;
$black: #0c0c0c;

$font-human: 1rem;
$font-horse: 1.2rem;
$font-hippo: 1.6rem;
$font-elephant: 1.8rem;