<section class="gallery-cont">
    <ng-container select="selector" *ngIf="galleryData">
        <ng-container select="selector" *ngFor="let item of galleryData">
            <article #galleryItem (click)="manageItemClick(item)" [id]="item.id" class="gallery-item">
                <!-- <h3>{{item.title || item.name}}</h3> -->
                <div class="img-cont">
                    <img [src]="item.thumbnail?.path + '.' + item.thumbnail?.extension || null" [alt]="item.name || item.title">
                </div>
            </article>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="isLoading">
        <div class="loader">
            <p>Loading</p>
        </div>
    </ng-container>
</section >

