@import "./assets/scss/_variables.scss";
/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/

/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
  }
  
  /* Preferred box-sizing value */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    
  }
  /*
    Remove list styles (bullets/numbers)
    in case you use it with normalize.css
  */
  ol, ul {
    list-style: none;
  }
  
  /* For images to not be able to exceed their container */
  img {
    max-width: 100%;
  }
  
  /* Removes spacing between cells in tables */
  table {
    border-collapse: collapse;
  }
  
  /* Revert the 'white-space' property for textarea elements on Safari */
  textarea {
    white-space: revert;
  }

  body {
    font-size: 16px;
    font-family: 'Fira Sans', sans-serif; 
  }

  h1{
  }
  
  h2,h3{
    font-weight: 700;
  }
  
  h1{
    font-weight: 900;
    font-size: $font-elephant;
  }

  h2{
    font-size: $font-hippo;
  }

  h3{
    font-size: $font-horse
  }

  p{
    font-size: $font-human;
  }

  .img-cont{
    width: 100%;
    overflow: hidden;
    position: relative;
    img{
        display:block;
        width: 100%;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
  }
}


